<%- include('../includes/header.ejs') %>

<style>
    .forget-link {
        color: #101010;
        text-decoration: underline;
        font-size: 14px;
        display: inline-block;
        margin-top: 10px;
    }

    .info-text {
        color: rgb(141, 141, 187);
        background: rgb(46, 36, 38);
        display: inline-block;
        padding: 0 5px;
        text-align: center;
        width: 100%;
    }
</style>

<div class="container centered">
    <div class="auth-form">
        <div class="form-title">LOGIN</div>
        <form method="POST">
            <%- typeof flashMsg != "undefined" ? `<span class="info-text">${flashMsg}</span>`: '' %>
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="<%= oldValue.email %>" autocomplete="off">
                <%- errors.email && `<span class="error-text">${errors.email}</span>` %>
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<%= oldValue.password %>"
                    autocomplete="off">
                <%- errors.password && `<span class="error-text">${errors.password}</span>` %>
            </div>
            <button class="form-submit" type="submit">LOGIN</button>
            <a class="forget-link" href="/auth/forget">Forgot Password</a>
        </form>
    </div>
</div>

<%- include('../includes/footer.ejs') %>