<%- include('./includes/header.ejs') %>


<div class="container">
    <div class="blog-items">
        <% posts.forEach(post => { %>
        <a id="post-<%= post._id %>" href="/@<%= post.author.username %>/<%= post.slug %>">
            <div class="blog-item">
                <div class="blog-item-title"><%= post.title %> </div>
                <div class="blog-item-date-author">
                    <span>
                        <img src="<%= post.author.avatar %>" alt="user_gravatar">
                        <%= post.author.name %>
                    </span>
                    <span><%= post.createdAt.toDateString() %> </span>
                </div>
                <div class="blog-item-description"><%= post.description %></div>
            </div>
        </a>
        <% }) %>
    </div>
</div>


<script src="/socket.io/socket.io.js"></script>

<script>
    const socketIO = io('/')

    socketIO.on('postDelete', payload => {
        const post = document.querySelector(`#post-${payload._id}`)
        if (post) {
            post.innerHTML = ''
            post.style.display = 'none'
        }
    })

    socketIO.on('postCreated', ({ post, author }) => {
        const postEl = document.createElement('a')
        postEl.href = `@${author.username}/${post.slug}`
        postEl.id = `post-${post._id}`

        postEl.innerHTML = `
        
         <div class="blog-item">
                <div class="blog-item-title">${post.title}</div>
                <div class="blog-item-date-author">
                    <span>
                        <img src="${author.avatar}" alt="user_gravatar">
                        ${author.name}
                    </span>
                    <span>${new Date(`${post.createdAt}`).toDateString()} </span>
                </div>
                <div class="blog-item-description">${post.description}</div>
            </div>
         
         `

        document.querySelector('.blog-items').prepend(postEl)
    })

    socketIO.on('postUpdate', payload => {
        const post = document.querySelector(`#post-${payload._id}`)
        if (post) {
            post.innerHTML = `
        
         <div class="blog-item">
                <div class="blog-item-title">${payload.title}</div>
                <div class="blog-item-date-author">
                    <span>
                        <img src="${payload.author.avatar}" alt="user_gravatar">
                        ${payload.author.name}
                    </span>
                    <span>${new Date(`${payload.createdAt}`).toDateString()} </span>
                </div>
                <div class="blog-item-description">${payload.description}</div>
            </div>
         
         `
            post.href = `@${payload.author.username}/${payload.slug}`
        }
    })
</script>

<%- include('./includes/footer.ejs') %>