<%- include('./includes/header.ejs') %>

<div style="display: none;" class="backdrop"></div>

<div class="container">
    <% if (isAuthenticated && user._id == post.author._id) { %>
    <div class="buttons">
        <a href="/edit/<%= post._id %>">Edit</a>
        <form action="/delete/<%= post._id %>" method="POST">
            <button class="delete">Delete</button>
        </form>
    </div>
    <% } %>
    <div class="blog-title">
        <h1><%= post.title %></h1>
    </div>
    <div class="blog-info">
        <a href="/@<%= post.author.username %> ">
            <div class="blog-info-author">
                <div class="blog-author-img">
                    <img src="<%= post.author.avatar %>" alt="post_author">
                </div>
                <div class="blog-author-name">
                    <%= post.author.name %>
                </div>
            </div>
        </a>
        <div class="blog-info-date">
            <%= post.createdAt.toDateString() %>
        </div>
    </div>
    <hr>
    <hr>
    <div class="blog-content"><%- post.html %></div>
    <div class="blog-comment">
        <h2 style="text-align: center;">COMMENTS</h2>
        <div class="comment-form">
            <form id="commentform" action="/comment/<%= post._id %>" method="POST">
                <div class="form-control">
                    <input type="text" name="comment" placeholder="Your comment ..." autocomplete="off"
                        <%= !isAuthenticated && 'disabled' %>>
                    <%- isAuthenticated && `<button type="submit" class="form-submit">Comment</button>` %>
                </div>
            </form>
        </div>
        <div class="comments">
            <% post.comments.forEach(comment => { %>
            <div id="comment-<%= comment._id %>"
                class="comment <%= user && comment.user._id == user._id ? 'highlight': '' %> ">
                <div class="img">
                    <a href="/@<%= comment.user.username %>">
                        <img src="<%= comment.user.avatar %>">
                    </a>
                </div>
                <div class="user_text">
                    <div class="user_name">
                        <a href="/@<%= comment.user.username %>" style="color: #111111;">
                            <%= comment.user.name %>
                        </a>
                    </div>
                    <div class="user_text"><%= comment.comment %></div>
                    <% if ( user && comment.user._id == user._id) { %>
                    <div class="action-buttons">
                        <form id="deleteCommentForm" action="/comment/delete/<%= post._id %>/<%= comment._id %>"
                            method="POST">
                            <button class="link-btn" type="submit">Delete</button>
                        </form>
                        <button class="link-btn toggle-form">Edit</button>
                        <div id="#edit-form" class="modal">
                            <form action="/comment/edit/<%= post._id %>/<%= comment._id %>" method="POST">
                                <h4 style="text-align: center;">Edit Comment</h4>
                                <div class="form-control">
                                    <input type="text" autocomplete="off" name="comment" value="<%= comment.comment %>">
                                    <button class="form-submit" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <% }) %>
        </div>

    </div>
</div>



<script src="/socket.io/socket.io.js"></script>


<script>

    document.querySelector('#commentform').addEventListener('submit', e => {
        e.preventDefault()

        if (e.target.comment.value.trim() === "") return

        fetch(e.target.action, {
            method: 'POST',
            body: new URLSearchParams({
                "comment": e.target.comment.value
            }),
        })

        e.target.comment.value = ""
    })

    document.querySelectorAll('#deleteCommentForm').forEach(form => {
        form.addEventListener('submit', e => {
            e.preventDefault()

            fetch(e.target.action, {
                method: 'POST',
            })
        })
    })

    document.querySelectorAll('.toggle-form').forEach(btn => {
        btn.addEventListener('click', e => {
            e.preventDefault()
            btn.parentElement.querySelector('.modal').classList.add('show-modal')
            document.querySelector('.backdrop').style.display = 'block'
        })

        document.querySelector('.backdrop').addEventListener('click', e => {
            btn.parentElement.querySelector('.modal').classList.remove('show-modal')
            document.querySelector('.backdrop').style.display = 'none'
        })
    })

    const socketIO = io('/')

    socketIO.on('postUpdate', payload => {
        if (payload._id == "<%= post._id %>") {
            document.querySelector('.blog-content').innerHTML = payload.html
            document.querySelector(".blog-title h1").innerHTML = payload.title
            history.pushState(null, null, `/@${payload.author.username}/${payload._id}`)
            document.title = `${payload.title} | Blogejst`
        }
    })

    // socketIO.on('commentUpdated', payload => {
    //     const comment = document.querySelector(`#comment-${payload._id}`)
    //     if(comment){

    //     }
    // })

    socketIO.on('commentDeleted', ({ comment }) => {
        const cmt = document.querySelector(`#comment-${comment._id}`)

        if (!cmt) return
        cmt.innerHTML = ''
        cmt.style.display = 'none'
    })

    socketIO.on('commentCreated', ({ author, comment }) => {
        const comments = document.querySelector('.comments')
        const cmt = document.createElement('div')
        cmt.id = `comment-${comment._id}`
        cmt.className = 'comment'
        cmt.innerHTML = `
          
                <div class="img">
                    <a href="/@${author.username}">
                        <img src="${author.avatar}">
                    </a>
                </div>
                <div class="user_text">
                    <div class="user_name">
                        <a href="/@${author.username}" style="color: #111111;">
                            ${author.name}
                        </a>
                    </div>
                    <div class="user_text">${comment.comment}</div>
                    <% if ( user) { %>
                        ${"<%= user._id %>" == author._id ? `
                            <div class="action-buttons">
                                <form id="deleteCommentForm" action="/comment/delete/<%= post._id %>/${comment._id}" method="POST">
                                    <button class="link-btn" type="submit">Delete</button>
                                </form>
                                <button class="link-btn toggle-form">Edit</button>
                                <div id="#edit-form" class="modal">
                                    <form action="/comment/edit/<%= post._id %>/${comment._id}" method="POST">
                                        <h4 style="text-align: center;">Edit Comment</h4>
                                        <div class="form-control">
                                            <input type="text" autocomplete="off" name="comment" value="${comment.comment}">
                                            <button class="form-submit" type="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        `: ""}
                    <% } %>
                </div>
        `

        const btn = cmt.querySelector('.toggle-form')

        btn && btn.addEventListener('click', e => {
            e.preventDefault()
            btn.parentElement.querySelector('.modal') && btn.parentElement.querySelector('.modal').classList.add('show-modal')
            document.querySelector('.backdrop').style.display = 'block'
        })

        document.querySelector('.backdrop').addEventListener('click', e => {
            cmt.querySelector('.modal') && cmt.querySelector('.modal').classList.remove('show-modal')
            document.querySelector('.backdrop').style.display = 'none'
        })

        const deleteForm = document.querySelector('#deleteCommentForm')
        deleteForm && deleteForm.addEventListener('submit', e => {
            e.preventDefault()

            fetch(e.target.action, {
                method: 'POST',
            })
        })

        comments.prepend(cmt)
    })

</script>

<%- include('./includes/footer.ejs') %>